<footer>


    <div class="footer-classic-main">
        <div class="container">
            <div class="row row-50 justify-content-lg-between">
                <div class="col-sm-4 col-lg-4 col-xl-4 align-items-center location">
                    <a class="brand" href="index.html">
                            <img src="{{ baseUrl }}/app/dist/images/logo.png" class="img-fluid" width="52" />
                    </a>
                    <ul class="list list-style-1 mt-2">
                            <li class="unit">
                             
                                <div class="unit-body"><a href="#">FABRA Limited,
                                        Ghana Airport Cargo Center</a></div>
                            </li>
                            <li class="unit">
                                <div class="unit-body"><a href="#">+GACC,Room 206 Accra</a></div>
                            </li>
                            <li class="unit">
                                <div class="unit-body"><a href="tel:#">+233 234 567 890</a></div>
                            </li>
                            <li class="unit">
                            <div class="unit-body"><a class="" href="mailto:contact@fabrafrica.com">contact@fabrafrica.com</a>
                            </div>
                        </li>
                           
                        </ul>
                  
                    <!-- <a class="btn btn-secondary" href="index.html">
                       Order Now
                    </a> -->
                </div>
                <div class="col-sm-4 col-lg-4 col-xl-4 d-flex justify-content-md-center justify-content-start p-0 align-items-center">
                    <ul class="list footer-classic-list  m-0">
                        <li><a href="#about" class="">About Us</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#sales">Sales</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-4 col-lg-4 col-xl-4 justify-content-md-end justify-content-center p-0  d-flex align-items-center">
                   

                        <img src="{{ baseUrl }}/app/dist/images/icons1.png" class="img-fluid" width="252" />
                        
                </div>
            </div>



        </div>
    </div>
    <div class="footer-classic-aside">
            <div class="container">
              <p class="rights"><span>©&nbsp; </span><span class="copyright-year">2019</span><span>. All Rights Reserved</span></p>
            </div>
          </div>

</footer>