{% macro  active(activePage='home', baseUrl = '') %}
<!-- <li class="nav-item {%if activePage == '' %} active {% endif %}">
  <a class="nav-link" href="#">Get The App</a>
</li> -->
<li class="nav-item {%if activePage == '' %} active {% endif %}">
  <a class="nav-link" href="#about" id="">About Us</a>
</li>
<li class="nav-item {%if activePage == '' %} active {% endif %}">
  <a class="nav-link" href="#services" id="">Services</a>
</li>
<li class="nav-item {%if activePage == '' %} active {% endif %}">
  <a class="nav-link" href="#sales" id="">Sales</a>
</li>
<li class="nav-item {%if activePage == '' %} active {% endif %}">
  <a class="nav-link" href="#locations" id="">Locations</a>
</li>

<li class="nav-item {%if activePage == '' %} active {% endif %}">
  <a class="nav-link" href="contact_us.html" id="">Contact Us</a>
</li>

{% endmacro %}