<!-- website.nunjucks -->
{% set title='Welcome to Okadaship' %}
{% set topNav = 'about' %}
{% extends "site_base2.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}

<div class="mini-banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <h2 class="breadcrumbs-custom-title text-center" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">About Us</h2>
            </div>
        </div>
    </div>
</div>
<div class="about-container">
    <div class="container">
        <div class="row row-50 align-items-center">
            <div class="col-md-8 col-lg-7 col-xl-6" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
                <h3>Providing quality<br> services</h3>
                <p>Okadaship an Afriship Logistics Service(Swiftly Safe Convenience)
                    is a mobile application dispatch service. Customers sign up and
                    they can request for various pick ups and other related services.</p>
                <!-- Quote Light-->
                <blockquote class="d-flex py-4 border-top border-bottom" data-aos="fade-left" data-aos-once="true" data-aos-duration="2000">
                    <i class="fas fa-quote-left"></i>
                    <div class="ml-4">
                        <p class="m-0 quote-light-text">Our riders are highly trained and safety is
                            our priority. </p>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4 col-lg-5 col-xl-6">
                    <div class="thumbnail-classy" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000">
                            <img src="../app/dist/images/unloading.jpg" class="" alt="...">
                    </div>
            </div>
        </div>

    </div>

</div>

<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="row no-gutters ">
                    <div class="col-12">
                        <div class="block-ratio-content" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                            <h3>BIKE SALES</h3>
                            <!-- <div class="heading-8">Our Best Moments</div> -->
                        </div>
                    </div>

                </div>
                <div class="row no-gutters mt-4">
                    <div class="col-12">
                        <div class="block-ratio-img" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                            <img src="../app/dist/images/bikes/scooter1.png" class="" alt="..." height="432" style="object-position: right;">

                        </div>
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="row no-gutters mt-3 mt-md-0">
                    <div class="col-12 ">
                        <div class="block-ratio-img" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                            <img src="../app/dist/images/bikes/scooter3.png" class="" alt="..." height="426">
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12 col-md-6 pl-0  pr-0 pr-md-3 mb-4 mb-md-0">
                        <div class="block-ratio-img" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                            <img src="../app/dist/images/bikes/scooter1.png" class="" alt="..." height="251">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pr-0  pl-0 pl-md-3">
                        <div class="block-ratio-img" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                            <img src="../app/dist/images/bikes/scooter2.png" class="" alt="..." height="251">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="services-about">
    <div class="container">
        <div class="list-blocks">
            <div class="list-blocks-item" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="list-blocks-item-inner">
                    <ul class="list footer-classic-list p-0">
                        <li>Campus Ride: Ride our NIU electric bikes to
                            lectures through a daily affordable rental.</li>
                        <li>Roadside assistance(fueltop off, tire
                            service, locksmith)</li>
                        <li>Food Deliveries limited to only registered
                            vendors.</li>
                    </ul>
                </div>
            </div>
            <div class="list-blocks-item" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="list-blocks-item-inner">
                    <ul class="list footer-classic-list p-0">
                        <li>Packages</li>
                        <li>Beat the traffic( Commute through rush
                            hour safe and fast)</li>
                        <li>Parcel logistics(DHL, FedEx, UPS, Aramex,
                            GhanaPost)</li>
                        <li>E-commerce Deliveries</li>
                    </ul>
                </div>
            </div>
            <div class="list-blocks-item list-blocks-item_caption" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="list-blocks-item-inner">
                    <h3>Services</h3>
                    <div class="heading-8">What we do</div><a class="btn btn-secondary mt-4" href="#">ORDER NOW</a>
                </div>
            </div>
            <div class="list-blocks-item" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="list-blocks-item-inner">
                    <ul class="list footer-classic-list p-0">
                        <li>Medi-Pharma</li>
                        <li>Bike sale</li>
                        <li>Banking (Expedited
                            Deposits cash limit
                            applicable)</li>
                    </ul>
                </div>
            </div>
            <div class="list-blocks-item" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="list-blocks-item-inner">
                    <ul class="list footer-classic-list p-0">
                        <li>Laundry Service(Drop off/
                            Pick Ups)</li>
                        <li>Mail</li>
                        <li>Court(Legal Docs)</li>
                    </ul>
                </div>
            </div>
            <div class="list-blocks-item" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="list-blocks-item-inner">
                    <p class="list-blocks-title">Okadaship will create
                        retail and service
                        office points in Togo,
                        Ghana, Burkina Faso,
                        Nigeria, and Benin.</p>

                </div>
            </div>
        </div>

    </div>

</div>


<div class="our-team">
    <div class="container">
        <h3>OUR TEAM</h3>

        <div class="row mt-5">
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <div class="card py-0" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                    <img src="../app/dist/images/avatars/avartar-01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 17px;">ERNEST E AMISSAH</h5>
                        <p class="card-text" style="font-size: 14px;"> FOUNDER & C.E.O</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <div class="card py-0" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500">
                    <img src="../app/dist/images/avatars/avartar-01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 17px;">DANIEL FRIMPONG</h5>
                        <p class="card-text" style="font-size: 14px;">CHIEF FINANCE OFFICE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <div class="card py-0" data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">
                    <img src="../app/dist/images/avatars/avartar-01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 17px;">SHALOM K. AMOAH</h5>
                        <p class="card-text" style="font-size: 14px;">CHIEF OPERATIONS OFFICER</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <div class="card py-0" data-aos="fade-up" data-aos-once="true" data-aos-duration="2500">
                    <img src="../app/dist/images/avatars/avartar-01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 17px;">HARRISON KRAIGER</h5>
                        <p class="card-text" style="font-size: 14px;">BRANDS MANAGER</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}



{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}