<!-- website.nunjucks -->
{% set title='Welcome to Okadaship' %}
{% set topNav = 'about' %}
{% extends "site_base2.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}

<div class="mini-banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <h2 class="breadcrumbs-custom-title text-center" data-aos="fade-up" data-aos-once="true"
                    data-aos-duration="1000">Contact Us</h2>
            </div>
        </div>
    </div>
</div>
<div class="location d-none">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
                <h3>OUR LOCATION</h3>
                <p class="mt-5">If you are living nearby, come visit us at one of our comfortable offices.</p>
                <div class="row no-gutters">
                    <div class="col-sm-6 col-xl-12">
                        <p class="heading-7">Airport Office</p>
                        <ul class="list list-style-1">
                            <li class="unit">
                             
                                <div class="unit-body"><a href="#">Okadaship Limited,
                                        Ghana Airport Cargo Center</a></div>
                            </li>
                            <li class="unit">
                                <div class="unit-body"><a href="#">+GACC,Room 206 Accra</a></div>
                            </li>
                            <li class="unit">
                                <div class="unit-body"><a href="tel:#">+233 234 567 890</a></div>
                            </li>
                            <li class="unit">
                            <div class="unit-body"><a class="text-primary" href="mailto:#">contact@okadaship.com</a>
                            </div>
                        </li>
                            <li class="unit">
                                <div class="unit-body"><a class="text-primary" href="http://www.okadaship.com/">www.okadaship.com/</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                   
                </div>

            </div>
            <div class="col-12 col-md-7" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15883.392224525129!2d-0.19158686378977263!3d5.589461735162749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b1fff72b87d%3A0xff2fe8ba5dfa0561!2sKotoka%20International%20Airport!5e0!3m2!1sen!2sgh!4v1568712298475!5m2!1sen!2sgh" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            </div>

        </div>


    </div>

</div>

<div class="contact-form">
    <div class="container">
        <h3>GET IN TOUCH</h3>

        <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-9">
                  <!-- RD Mailform-->
                  <form class="rd-mailform rd-form" method="post" action="" novalidate="novalidate">
                    <div class="row row-x-16 row-20 mt-5">
                      <div class="col-md-6">
                        <div class="form-wrap" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                          <input class="form-input form-control" id="contact-name" type="text" name="name" placeholder="Your Name">
                         
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                          <input class="form-input form-control" id="contact-email" type="email" name="email" placeholder="Email">
                        
                        </div>
                      </div>
                      <div class="col-12" data-aos="fade-up" data-aos-once="true" data-aos-duration="1400">
                        <div class="form-wrap">
                          <textarea class="form-input form-control form-control-last-child" id="contact-message" name="message" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap" data-aos="fade-up" data-aos-once="true" data-aos-duration="1800">
                          <input class="form-input form-control" id="contact-phone" type="text" name="phone" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap" data-aos="fade-up" data-aos-once="true" data-aos-duration="1800">
                          <button class="btn w-100 btn-secondary" type="submit">Send Message</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

    </div>

</div>




{% endblock %}



{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}