<!-- website.nunjucks -->
{% set title='Welcome to Okadaship' %}
{% set topNav = 'home' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}


<div class="banner">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="banner-img d-none d-lg-block">
                    <img src="../app/dist/images/phone.png" class="" alt="..." data-aos="fade-right"
                    data-aos-once="true" data-aos-duration="2000">
            </div>
              
        </div>
        <div class="col-12 col-md-6">
            <div class="box-custom">
                <div class="box-custom-2-bg">
                    <div class="map-bg-image">
                    </div>
                </div>
                <div class="box-custom-2-inner" data-aos="fade-left" data-aos-once="true" data-aos-duration="1500">
                    <h2>CONTACT US NOW</h2>
                    <div class="call-us">
                        <i class="fas fa-phone-volume"></i>
                        <a href="">+233 234 567 890</a>
                    </div>
                    <p>Green - Electric - Logistics - Company.</p>
                    <div>
                        <select class="form-control" name="Car">
                            <option>Car</option>
                            <option>Aboboyaa</option>
                            <option>Truck</option>
                        </select>
                        <input class="form-control" type="text" placeholder="Pickup Address">
                        <input class="form-control" type="text" placeholder="Destination Address">
                        <input class="form-control" type="text" placeholder="Your Phone Number">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <h3>Our Services</h3>

        <div class="row mt-5">
            <div class="col-sm-6 col-lg-4 mb-4 mb-md-0">
                <div class="card" data-aos="fade-up" data-aos-once="true">
                    <div>
                        <img src="../app/dist/images/private.png" class="" alt="..." width="160">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">PRIVATE DRIVER</h5>
                        <p class="card-text">Enjoy the best customer service from our professional drivers.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mb-md-0">
                <div class="card" data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">
                    <div>
                        <img src="../app/dist/images/airport.png" class="" alt="..." width="160">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">CAIRPORT TRANSFER</h5>
                        <p class="card-text">Comfortable transfer services from airport to any chosen address.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mb-md-0">
                <div class="card" data-aos="fade-up" data-aos-once="true" data-aos-duration="3000">
                    <div>
                        <img src="../app/dist/images/baggage.png" class="" alt="..." width="160">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">BAGGAGE TRANSFER</h5>
                        <p class="card-text">If you need to collect your baggage, we are ready to help you.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>



</div>

<div class="campus-ride">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
                <h3>CAMPUS RIDE</h3>

                <p>CampusRide (University
                    of Ghana, Kwame
                    Nkrumah University of
                    Science & Technolgy,
                    Central University,
                    Ashesi University and
                    University of Cape
                    Coast).
                    Ride our new electric
                    bikes to lectures
                    through a daily
                    affordable rental.</p>

                <ul class="list-marked list-marked_secondary">
                    <li>Special offers</li>
                    <li>ETAXI loyalty program</li>
                    <li>More pricing plans</li>
                </ul>

            </div>
            <div class="col-12 col-md-6 col-lg-5">

                <img src="../app/dist/images/phone.png" class="" alt="..." width="533" height="868" data-aos="fade-left"
                    data-aos-once="true" data-aos-duration="2000">



            </div>
        </div>
    </div>

</div>

<div class="testimonials">
    <div class="container">
        <h3>Testimonials</h3>

        <div class="row mt-5 pb-5">
            <div class="col-sm-12 col-lg-4 mb-5 mb-md-5 mb-lg-0">
                <div class="card testimonial" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                    <div class="card-body border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../app/dist/images/avatars/avartar-01.jpg" class="rounded-circle" alt="..."
                                width="74">

                            <div class="ml-3">
                                <h5 class="card-title mb-0">JANE WILLIAMS</h5>
                                <p class="m-0 text-left">Regular Client</p>
                            </div>
                        </div>



                    </div>

                    <div class="card-body">

                        <p class="card-text text-left">I found your service to be a 5-star experience. The driver was
                            waiting at the arrivals hall for us. All the people we communicated with were pleasant and
                            cheerful.</p>

                        <p class="text-left card-text mb-2">Mar 24, 2018</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-lg-4 mb-5 mb-md-5 mb-lg-0">
                <div class="card testimonial" data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">
                    <div class="card-body border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../app/dist/images/avatars/avartar-02.jpg" class="rounded-circle" alt="..."
                                width="74">
                            <div class="ml-4">
                                <h5 class="card-title mb-0">CJOHN DOE</h5>
                                <p class="m-0 text-left">Regular Client</p>
                            </div>

                        </div>
                    </div>


                    <div class="card-body">

                        <p class="card-text text-left">Everything went perfectly! Incredibly punctual, friendly drivers,
                            and the best service!</p>
                        <p class="text-left card-text mb-2">Mar 24, 2018</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-lg-4 mb-5 mb-md-5 mb-lg-0">
                <div class="card testimonial" data-aos="fade-up" data-aos-once="true" data-aos-duration="3000">
                    <div class="card-body border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../app/dist/images/avatars/avartar-03.jpg" class="rounded-circle" alt="..."
                                width="74">
                            <div class="ml-4">
                                <h5 class="card-title mb-0">KATE PETERSON</h5>
                                <p class="m-0 text-left">Regular Client</p>
                            </div>

                        </div>
                    </div>


                    <div class="card-body">

                        <p class="card-text text-left">The service was excellent, thank you. My driver was waiting at
                            Arrivals for me with a clear sign. He introduced himself, was very polite and friendly.</p>
                        <p class="text-left card-text mb-2">Mar 24, 2018</p>
                    </div>
                </div>

            </div>
        </div>


        <h3 class="mt-5">OUR PARTNERS</h3>

        <div class="d-flex justify-content-lg-around partners mt-5">
            <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000">
                <img src="../app/dist/images/partners/aramex.png" class="" alt="..." width="250">
            </div>
            <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="1500">
                <img src="../app/dist/images/partners/fedex.png" class="" alt="..." width="250">
            </div>
            <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000">
                <img src="../app/dist/images/partners/jumia.png" class="" alt="..." width="250">
            </div>
            <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="2500">
                <img src="../app/dist/images/partners/dhl.png" class="" alt="..." width="250">
            </div>
        </div>


    </div>
</div>



<div class="parallax-container">

    <div class="material-parallax">

        <img src="../app/dist/images/bg-image-5.jpg" class="" alt="...">

    </div>
    <div class="parallax-content">
        <div class="container">
            <div class="row row-50 justify-content-end">
                <div class="col-md-6 col-lg-5" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000">
                    <h1 class="font-weight-bold"><span class="font-weight-light">-50%</span> on first order</h1>
                    <p class="big wow clipInLeft">Our first-time customers get a great discount on their order.</p>
                    <a class="btn btn-secondary" href="#">
                        ORDER NOW

                    </a>
                </div>
            </div>
        </div>
    </div>

</div>






{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}